* These exercises are from "www.edx.org" website.Week 2 of "Python for Data Science" by UCSanDiegoX: DSE200x

# Data Structures and Basic Libraries in Python

###  Using Python string library functions to manipulate strings:

#### Upper,Lower:
Change Case in String: there are 2 methods: 1- Uppre, 2- Lower

In [4]:
word = 'Hello'

In [5]:
word.lower()

'hello'

In [6]:
word.upper()

'HELLO'

 * Note: Strings are immutable, so string functions return new strings.

#### Concatinate:
Suppose you wanna concat 2 strings together. we can do this by '+' sybmbol

In [7]:
'1'+'2'

'12'

In [8]:
'Hi'+' there'

'Hi there'

#### Repeat String:
If you want an string to repeat over and over use '*' symbol

In [9]:
'Laya'*2

'LayaLaya'

#### Strip():
Function "strip" is so useful for data science
this function remove specific character from left and right side of string.
it can be use for removing unnecessary spaces.

In [12]:
test=' laya '
test

' laya '

In [14]:
test.strip()

'laya'

In [15]:
test='***10***'
test

'***10***'

In [16]:
test.strip('*')

'10'

#### Split():
Sometimes we have a single big string which we want to split it to smaller parts. "Split" function can do that for us.

In [17]:
s= 'she is a student'

In [18]:
s.split()

['she', 'is', 'a', 'student']

In [19]:
s='she,is,a,student'

In [20]:
s.split(',')

['she', 'is', 'a', 'student']

#### Slicing:
We index strings, to return sub strings. this is called "Slicing".

In [21]:
word='Hello'

In [22]:
word[1:3]

'el'

In [26]:
word[-4:-1]

'ell'

In [27]:
word[4:7]

'o'

#### Testing sub strings:

In [28]:
word='Hello'
'He' in word

True

In [29]:
'HE' in word

False

#### find():
Suppose we want to know, where in the string, find sub string:

In [30]:
word.find('el')

1

#### Convert type:
As we usually work with text and numerical data, some times we need to convert a text to number.

In [32]:
word='1234'
int(word)

1234

In [33]:
float(word)

1234.0

#### format():
Sometimes we may have a large body of text, and just wanna insert some strings into that large string. to do this, we use the "Format" function.

In [37]:
statement = 'We love {} {}.'
statement.format('data', 'analysis')

'We love data analysis.'

If we want to be more specific for their place holder, we can number them.

In [38]:
statement = 'We love {0} {1}.'
statement.format('data', 'analysis')

'We love data analysis.'

In [39]:
statement = 'We love {1} {0}.'
statement.format('data', 'analysis')

'We love analysis data.'

### Lists in Python

#### List Basics:

In [40]:
list=[11,22,33]
list

[11, 22, 33]

In [41]:
list[1]

22

#### Iterating over a list:

In [44]:
# this loop is  easier, less error, more readable
for i in list:
    print(i)

11
22
33

In [45]:
for i in range(0,len(list)):
    print(list[i])

11
22
33

#### Lists are MUTABLE

In [46]:
list[1]=95
list

[11, 95, 33]

#### Appending to a list:

In [47]:
list=[11,22,33]
list.append(44)
list

[11, 22, 33, 44]

#### Deleting from a list:
##### pop(): 
delete based on index

In [48]:
list

[11, 22, 33, 44]

In [49]:
list.pop(2)

33

In [50]:
list

[11, 22, 44]

##### remove():
delete based on value

In [51]:
list=[11,22,33,44]

In [52]:
list.remove(33)

In [53]:
list

[11, 22, 44]

#### Adding a list to a list:
##### extend():

In [55]:
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

* Note: Append adds element to the end of list. Extend, expand, add all the values in a list to other list.

In [56]:
# if accidently use append instead of extend:
list1=[1,2,3]
list2=[4,5,6]
list1.append(list2)
list1

[1, 2, 3, [4, 5, 6]]

#### Zipping lists:
Often , we are working with 2 lists at the same time. to do that we can use function "zip"
##### zip():

In [57]:
list1=[1,2,3]
list2=[4,5,6]
for x,y in zip(list1,list2):
    print(x,", ",y)

1 ,  4
2 ,  5
3 ,  6

#### Practice:

In [58]:
x=[10,20,30]
y=x
x[1]=42
print(y)

[10, 42, 30]

* Note: if you have 2 refrences pointing to the same object, premuting that object will obviously affect both refrences.

### Tuples in Python:
Since Tuples are immutable, they are valuable in a number of situations for data analysis.
#### Tuples Basics:

In [65]:
tuple1=('Laya','is', 32)
tuple1

('Laya', 'is', 32)

In [67]:
tuple1[2]

32

In [68]:
len(tuple1)

3

#### Itterate over a tuple:

In [69]:
for i in tuple1:
    print(i)

Laya
is
32

#### Tuples are immutable:

In [70]:
# If an object is immutable, you can TRUST it to never change!
tuple1[2]=40
tuple1

TypeError: 'tuple' object does not support item assignment

### Dictionaries in Python:
A dictionary holds a combination of key value pairs. Dictionaries are also supper fast at doing lookups.
#### Dictionary Basics:

In [84]:
dict={('Ghostbusters',2016):5.4,('Ghostbusters',1984):7.8}
dict

{('Ghostbusters', 1984): 7.8, ('Ghostbusters', 2016): 5.4}

In [73]:
dict[('Ghostbusters',2016)]

5.4

In [74]:
len(dict)

2

#### Adding to a dictionary:

In [85]:
dict[('cars',2006)]=7.1
dict

{('Ghostbusters', 1984): 7.8, ('Ghostbusters', 2016): 5.4, ('cars', 2006): 7.1}

* Note: Dictionaries are unordered collection. There is no inherent ordering of the items in a collaction.

#### Getting a value from a dictionary:

In [77]:
x=dict[('cars',2006)]
x

7.1

#### Safer way to get from a dictionary:
if you asked for a value for a key, not in dictionary, that will cause a runtime error.
##### get():

In [79]:
x=dict.get(('cars',2006))
x

7.1

In [81]:
x=dict.get(('cars',2007))
x==None

True

##### in:

In [82]:
('cars',2007) in dict

False

#### Deleting from a dictionary:
##### pop():

In [87]:
dict.pop(('cars',2006))

7.1

In [88]:
dict

{('Ghostbusters', 1984): 7.8, ('Ghostbusters', 2016): 5.4}

##### del
you can use "del" if you don't care about getting the value back

In [89]:
del dict[('Ghostbusters',1984)]

In [90]:
dict

{('Ghostbusters', 2016): 5.4}

#### Iterate over a dictionary

In [96]:
dict = {('laya',1985):33,('Moji',1981):37}

In [92]:
# below command only return keys
for i in dict:
    print(i)

('laya', 1985)
('Moji', 1981)

In [93]:
# if you want to have both keys and values, you need to run below command
for key,value in dict.items():
    print(key,":",value)

('laya', 1985) : 33
('Moji', 1981) : 37

* Note: we cannot mutate a dictionary object while iterating. (add, remove,etc.)

In [97]:
to_remove=[]
for i in dict:
    if (i[1]<1983):
        to_remove.append(i)
for i in to_remove:
    dict.pop(i)
dict

{('laya', 1985): 33}

### List and Dictionary Comperhension:
Comperhension is a way to build lists and dictionaries quickly.
#### List Comperhension:

In [99]:
# Making a list of square  from 1,10:
list=[i**2 for i in range(1,11)]
list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [101]:
# Making a list with the values zero through 5:
list=[i for i in range (0,6)]
list

[0, 1, 2, 3, 4, 5]

In [105]:
# all the even values between 0 and 20:
list=[i for i in range(0,21,2)]
list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [106]:
# a list with 10 values and it's alternating zero and one:
list=[i%2 for i in range(0,10)]
list

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [108]:
# a list with 10 random integers between zero and 5:
import random
list=[random.randint(0,5) for i in range (0,10)]
list

[2, 0, 0, 2, 5, 3, 5, 4, 0, 4]

* Note: the above metods can be use for dictionaries as well.

In [109]:
dict={i:i**2 for i in range (1,11)}
dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [112]:
# build a dictionary of letters from capital A to capital Z
dict={i:chr(i) for i in range (65,90)}
dict

{65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y'}

### Sets in Python:
Sets support a number of useful math operations and they only allows unique elements.
sets are unordered, unique(no duplicates), support set operations (e.g., union,intersection)
#### Set Basics:
##### Create:

In [114]:
leos_colors=set(['red','blue','green'])
leos_colors

{'blue', 'green', 'red'}

##### add():

In [117]:
leos_colors.add('yellow')
leos_colors

{'blue', 'green', 'red', 'yellow'}

In [116]:
# adding sth that already exist in set, won't change the set. since unique items can be in sets.
leos_colors.add('blue')
leos_colors

{'blue', 'green', 'red', 'yellow'}

##### remove/ Discard

In [119]:
leos_colors.discard('green')
leos_colors

{'blue', 'red', 'yellow'}

#### Sets operations:
##### Union:

In [120]:
ilkays_colors=set(['white','black'])
either=ilkays_colors.union(leos_colors)
either

{'black', 'blue', 'red', 'white', 'yellow'}

* Note: ususlly sets are used, to pull out the unique items across 2 groups of elements or to find the unique itemsin common.

##### intersection:
to find the unique items in common, we use intersect method.

In [122]:
leos_colors=set(['red','blue','green'])
ilkays_colors=set(['blue','black'])
both= leos_colors.intersection(ilkays_colors)
both

{'blue'}

##### Quick Operations:
* Union can be done with | operator :
set1 | set2
* Intersection can be done with the & operator :
set1 & set2

In [123]:
either= leos_colors | ilkays_colors
either

{'black', 'blue', 'green', 'red'}

In [125]:
both = leos_colors & ilkays_colors
both

{'blue'}